src/autoyast-rnc/auth-client.rnc

default namespace = "http://www.suse.com/1.0/yast2ns"
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace config = "http://www.suse.com/1.0/configns"
auth-client =
  element auth-client {
     element nssldap   { BOOLEAN }? &
     element sssd      { BOOLEAN }? &
     element oes       { BOOLEAN }? &
     element mkhomedir { BOOLEAN }? &
     sssd_conf?
}

sssd_conf =
  element sssd_conf {
     sssd? &
     nss? &
     pam? &
     sudo? &
     autofs? &
     ssh? &
     auth_domains?
}
sssd =
  element sssd {
    element config_file_version{ INTEGER }? &
    element services{ text }? &
    element reconnection_retries{ INTEGER }? &
    element domains{ text }? &
    element re_expression{ text }? &
    element full_name_format{ text }? &
    element try_inotify{ text }? &
    element krb5_rcache_dir{ text }? &
    element default_domain_suffix{ text }?
  }
nss =
  element nss {
    element enum_cache_timeout{ INTEGER }? &
    element entry_cache_nowait_percentage{ INTEGER }? &
    element entry_negative_timeout{ INTEGER }? &
    element filter_users{ text }? &
    element filter_groups{ text }? &
    element filter_users_in_groups{ text }? &
    element override_homedir{ text }? &
    element fallback_homedir{ text }? &
    element override_shell{ text }? &
    element allowed_shells{ text }? &
    element vetoed_shells{ text }? &
    element shell_fallback{ text }? &
    element default_shell{ text }? &
    element get_domains_timeout{ INTEGER }? &
    element memcache_timeout{ INTEGER }? &
    debug_level? &
    debug_timestamps? &
    debug_microseconds? &
    timeout? &
    reconnection_retries ? &
    fd_limit? &
    client_idle_timeout? &
    force_timeout?
  }
pam =
  element pam {
    element offline_credentials_expiration{ INTEGER }? &
    element offline_failed_login_attempts{ INTEGER }? &
    element offline_failed_login_delay{ INTEGER }? &
    element pam_verbosity{ INTEGER }? &
    element pam_id_timeout{ INTEGER }? &
    element pam_pwd_expiration_warning{ INTEGER }? &
    element get_domains_timeout{ INTEGER }? &
    debug_level? &
    debug_timestamps? &
    debug_microseconds? &
    timeout? &
    reconnection_retries ? &
    fd_limit? &
    client_idle_timeout? &
    force_timeout?
  }
sudo =
  element sudo {
    element sudo_timed{ text }? &
    debug_level? &
    debug_timestamps? &
    debug_microseconds? &
    timeout? &
    reconnection_retries ? &
    fd_limit? &
    client_idle_timeout? &
    force_timeout?
  }
autofs =
  element autofs {
    element autofs_negative_timeout{ INTEGER }? &
    debug_level? &
    debug_timestamps? &
    debug_microseconds? &
    timeout? &
    reconnection_retries ? &
    fd_limit? &
    client_idle_timeout? &
    force_timeout?
  }
ssh =
  element ssh {
    element ssh_hash_known_hosts{ text }? &
    element ssh_known_hosts_timeout{ INTEGER }? &
    debug_level? &
    debug_timestamps? &
    debug_microseconds? &
    timeout? &
    reconnection_retries ? &
    fd_limit? &
    client_idle_timeout? &
    force_timeout?
  }

debug_level          = element debug_level{ INTEGER }
debug_timestamps     = element debug_timestamps{ text }
debug_microseconds   = element debug_microseconds{ text }
timeout              = element timeout{ INTEGER }
reconnection_retries = element reconnection_retries{ INTEGER }
fd_limit             = element fd_limit{ INTEGER }
client_idle_timeout  = element client_idle_timeout{ INTEGER }
force_timeout        = element force_timeout{ INTEGER }

auth_domains =
  element auth_domains {
    LIST,
    element domain {
        element domain_name { text }? &
        element min_id{ INTEGER }? &
        element max_id{ INTEGER }? &
        element enumerate{ BOOLEAN }? &
        element force_timeout{ INTEGER }? &
        element entry_cache_timeout{ INTEGER }? &
        element entry_cache_user_timeout{ INTEGER }? &
        element entry_cache_group_timeout{ INTEGER }? &
        element entry_cache_netgroup_timeout{ INTEGER }? &
        element entry_cache_service_timeout{ INTEGER }? &
        element entry_cache_sudo_timeout{ INTEGER }? &
        element entry_cache_autofs_timeout{ INTEGER }? &
        element cache_credentials{ text }? &
        element account_cache_expiration{ INTEGER }? &
        element id_provider{ text }? &
        element use_fully_qualified_names{ text }? &
        element auth_provider{ text }? &
        element access_provider{ text }? &
        element chpass_provider{ text }? &
        element sudo_provider{ text }? &
        element selinux_provider{ text }? &
        element subdomains_provider{ text }? &
        element autofs_provider{ text }? &
        element hostid_provider{ text }? &
        element re_expression{ text }? &
        element full_name_format{ text }? &
        element lookup_family_order{ text }? &
        element dns_resolver_timeout{ INTEGER }? &
        element dns_discovery_domain{ text }? &
        element override_gid{ INTEGER }? &
        element case_sensitive{ text }? &
        element proxy_fast_alias{ text }? &
        element subdomain_homedir{ text }? &
        element subdomain_homedir{ text }? &
        element subdomain_homedir{ text }? &
        element subdomain_homedir{ text }? &
        element subdomain_homedir{ text }? &
        element base_directory{ text }? &
        element create_homedir{ text }? &
        element remove_homedir{ text }? &
        element homedir_umask{ text }? &
        element skel_dir{ text }? &
        element mail_dir{ text }? &
        element userdel_cmd{ text }? &
        element ldap_uri{ text }? &
        element ldap_backup_uri{ text }? &
        element ldap_chpass_uri{ text }? &
        element ldap_chpass_backup_uri{ text }? &
        element ldap_search_base{ text }? &
        element ldap_sudo_search_base{ text }? &
        element ldap_schema{ text }? &
        element ldap_default_bind_dn{ text }? &
        element ldap_default_authtok_type{ text }? &
        element ldap_default_authtok{ text }? &
        element ldap_user_object_class{ text }? &
        element ldap_user_name{ text }? &
        element ldap_user_uid_number{ text }? &
        element ldap_user_gid_number{ text }? &
        element ldap_user_gecos{ text }? &
        element ldap_user_home_directory{ text }? &
        element ldap_user_shell{ text }? &
        element ldap_user_uuid{ text }? &
        element ldap_user_objectsid{ text }? &
        element ldap_user_modify_timestamp{ text }? &
        element ldap_user_shadow_last_change{ text }? &
        element ldap_user_shadow_min{ text }? &
        element ldap_user_shadow_max{ text }? &
        element ldap_user_shadow_warning{ text }? &
        element ldap_user_shadow_inactive{ text }? &
        element ldap_user_shadow_expire{ text }? &
        element ldap_user_krb_last_pwd_change{ text }? &
        element ldap_user_krb_password_expiration{ text }? &
        element ldap_user_ad_account_expires{ text }? &
        element ldap_user_ad_user_account_control{ text }? &
        element ldap_ns_account_lock{ text }? &
        element ldap_user_nds_login_disabled{ text }? &
        element ldap_user_nds_login_expiration_time{ text }? &
        element ldap_user_nds_login_allowed_time_map{ text }? &
        element ldap_user_principal{ text }? &
        element ldap_user_ssh_public_key{ text }? &
        element ldap_force_upper_case_realm{ text }? &
        element ldap_enumeration_refresh_timeout{ INTEGER }? &
        element ldap_purge_cache_timeout{ INTEGER }? &
        element ldap_user_fullname{ text }? &
        element ldap_user_member_of{ text }? &
        element ldap_user_authorized_service{ text }? &
        element ldap_user_authorized_host{ text }? &
        element pwd_expiration_warning{ INTEGER }? &
        element ldap_group_object_class{ text }? &
        element ldap_group_name{ text }? &
        element ldap_group_gid_number{ text }? &
        element ldap_group_member{ text }? &
        element ldap_group_uuid{ text }? &
        element ldap_group_objectsid{ text }? &
        element ldap_group_modify_timestamp{ text }? &
        element ldap_group_nesting_level{ INTEGER }? &
        element ldap_groups_use_matching_rule_in_chain{ text }? &
        element ldap_initgroups_use_matching_rule_in_chain{ text }? &
        element ldap_netgroup_object_class{ text }? &
        element ldap_netgroup_name{ text }? &
        element ldap_netgroup_member{ text }? &
        element ldap_netgroup_triple{ text }? &
        element ldap_netgroup_uuid{ text }? &
        element ldap_netgroup_modify_timestamp{ text }? &
        element ldap_service_object_class{ text }? &
        element ldap_service_name{ text }? &
        element ldap_service_port{ text }? &
        element ldap_service_proto{ text }? &
        element ldap_service_search_base{ text }? &
        element ldap_search_timeout{ INTEGER }? &
        element ldap_enumeration_search_timeout{ INTEGER }? &
        element ldap_network_timeout{ INTEGER }? &
        element ldap_opt_timeout{ INTEGER }? &
        element ldap_connection_expire_timeout{ INTEGER }? &
        element ldap_page_size{ INTEGER }? &
        element ldap_disable_paging{ text }? &
        element ldap_sasl_minssf{ INTEGER }? &
        element ldap_deref_threshold{ INTEGER }? &
        element ldap_tls_reqcert{ text }? &
        element ldap_tls_cacert{ text }? &
        element ldap_tls_cacertdir{ text }? &
        element ldap_tls_cert{ text }? &
        element ldap_tls_key{ text }? &
        element ldap_tls_cipher_suite{ text }? &
        element ldap_id_use_start_tls{ text }? &
        element ldap_id_mapping{ text }? &
        element ldap_sasl_mech{ text }? &
        element ldap_sasl_authid{ text }? &
        element ldap_sasl_realm{ text }? &
        element ldap_sasl_canonicalize{ text }? &
        element ldap_krb5_keytab{ text }? &
        element ldap_krb5_init_creds{ text }? &
        element ldap_krb5_ticket_lifetime{ INTEGER }? &
        element ldap_pwd_policy{ text }? &
        element ldap_referrals{ text }? &
        element ldap_dns_service_name{ text }? &
        element ldap_chpass_dns_service_name{ text }? &
        element ldap_chpass_update_last_change{ text }? &
        element ldap_access_filter{ text }? &
        element ldap_account_expire_policy{ text }? &
        element ldap_access_order{ text }? &
        element ldap_deref{ text }? &
        element ldap_rfc2307_fallback_to_local_users{ text }? &
        element pwd_expiration_warning{ INTEGER }? &
        element krb5_server{ text }? &
        element krb5_backup_server{ text }? &
        element krb5_realm{ text }? &
        element krb5_kpasswd{ text }? &
        element krb5_backup_kpasswd{ text }? &
        element krb5_ccachedir{ text }? &
        element krb5_ccname_template{ text }? &
        element krb5_auth_timeout{ INTEGER }? &
        element krb5_validate{ text }? &
        element krb5_keytab{ text }? &
        element krb5_store_password_if_offline{ text }? &
        element krb5_renewable_lifetime{ text }? &
        element krb5_lifetime{ text }? &
        element krb5_renew_interval{ INTEGER }? &
        element krb5_use_fast{ text }? &
        element krb5_fast_principal{ text }? &
        element krb5_canonicalize{ text }? &
        element ad_domain{ text }? &
        element ad_server{ text }? &
        element ad_backup_server{ text }? &
        element ad_hostname{ text }? &
        element override_homedir{ text }? &
        element fallback_homedir{ text }? &
        element default_shell{ text }? &
        element ldap_idmap_range_min{ INTEGER }? &
        element ldap_idmap_range_max{ INTEGER }? &
        element ldap_idmap_range_size{ INTEGER }? &
        element ldap_idmap_default_domain_sid{ text }? &
        element ldap_idmap_default_domain{ text }? &
        element ldap_idmap_autorid_compat{ text }? 
     }+
  }


